<!DOCTYPE html>
<html lang="en">
<head>
  <title>DevOps@Scale</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/scripts/local/bootstrap.min.css">
  <link rel="stylesheet" href="/static/scripts/local/font-awesome.min.css">
  <script src="/static/scripts/local/js/jquery.min.js"></script>
  <script src="/static/scripts/local/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">DevOps At Scale</a>
    </div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" id="dashboard-tab"><a class="nav-link" href="/frontend/dashboard">Dashboard</a></li>
      <li class="nav-item" id="pipeline-create-tab"><a class="nav-link" href="/frontend/pipeline/create">Create Pipeline</a></li>
      <li class="nav-item" id="workspace-create-tab"><a class="nav-link" href="/frontend/workspace/create">Create Workspace</a></li>
      <li class="nav-item" id="workspace-merge-create-tab"><a class="nav-link" href="/frontend/workspace/merge">Merge Workspace</a></li>
    </ul>
  </div>
</nav>
{% block content %}
{% endblock %}
</body>
</html>
