{% extends "base.html" %}
{% block content %}
<script type="text/javascript"  src="/static/scripts/pipeline.js"></script>
{% if "bitbucket" in scm_type %}
<script type="text/javascript"  src="/static/scripts/pipeline_bitbucket.js"></script>
{% endif %}
<div id='create-project'>
 <form class="mx-auto" style="width: 95%;" action="/backend/pipeline/create" method="post">
   {% if "bitbucket" in scm_type %}
    <div class="form-row align-items-center">
      <div class="col-sm-10">
        <input type=hidden>
      </div>
    </div>
    <div class="form-row">
      <label class="col-sm-2 col-form-label" for="git-project">Git Project</label>
      <div class="col-sm-10" id="git-projects">
        <select id="git-projects-select" >
          <option selected>Select a GIT project</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <input type=hidden>
      </div>
    </div>
    <div class="form-row">
      <label class="col-sm-2 col-form-label" for="git-repos">Git Repository</label>
      <div class="col-sm-10" id="git-repos">
        <select id="git-repos-select">
          <option selected>Select a GIT Repository</option>
        </select>
      </div>
    </div>
    {% endif %}
    <div class="form-group row">
      <div class="col-sm-10">
        <input type=hidden>
      </div>
    </div>
    <div class="form-row">
      <label class="col-sm-2 col-form-label" for="scm-url">SCM URL</label>
        <div class="col-sm-10">
        {% if "bitbucket" in scm_type %}
        <input type="text" class="form-control" name="scm-url" id="scm-url" readonly>
        {% else %}
        <input type="text" class="form-control" name="scm-url" id="scm-url">
        {% endif %}
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <input type=hidden>
      </div>
    </div>
    <div class="form-row">
      <label class="col-sm-2 col-form-label" for="git-branches">SCM Branch</label>
      <div class="col-sm-10" id="git-branches">
        {% if "bitbucket" in scm_type %}
        <input type="hidden" class="form-control" name="scm-branch" id="scm-branch" placeholder="SCM Branch">
        <select id="git-branches-select">
          <option selected>Select a GIT Branch</option>
        </select>
        {% else %}
        <input type="text" class="form-control" name="scm-branch" id="scm-branch" placeholder="SCM Branch">
        {% endif %}
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <input type=hidden>
      </div>
    </div>

    <div class="form-row">
      <label class="col-sm-2 col-form-label" for="export-policy">Export Policy</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" name="export-policy" id="export-policy" placeholder="default">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <input type=hidden>
      </div>
    </div>
    <div class="form-row">
      <div class="col-sm-10">
        <button type="submit" id="submit-button" class="btn btn-primary mb-2" data-loading-text="<i class='fa fa-spinner fa-spin '></i>Creating Pipeline...">Create Pipeline</button>

      </div>
    </div>
  </form>
</div>
{% endblock %}
