{% extends "base.html" %}
{% block content %}
<script type="text/javascript"  src="/static/scripts/workspace_merge.js"></script>
<div id='create-merge-workspace'>
 <form class="form-horizontal" action="/backend/workspace/merge" method="post">

    <div class="form-group row">
      <div class="col-xs-3">
        <input type=hidden>
      </div>
    </div>
    <div class="form-row">
      <label class="col-xs-5" for="username">Username</label>
        <div class="col-xs-5">
          <input type="text" class="form-control" name="username" id="username">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-3">
        <input type=hidden>
      </div>
    </div>
    <div class="form-row">
      <label class="col-xs-5" for="workspace-name">Workspace Name Prefix</label>
      <div class="col-xs-5">
        <input type="text" class="form-control" name="workspace-name" id="workspace-name">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-3">
        <input type=hidden>
      </div>
    </div>
    <div class="form-row">
      <label class="col-xs-5" for="source-workspace-name">Source Workspace Name</label>
      <div class="col-xs-5">
        <input type="text" class="form-control" name="source-workspace-name" id="source-workspace-name">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-3">
        <input type=hidden>
      </div>
    </div>
    <div class="form-row">
      <label class="col-xs-5" for="build">Build</label>
      <div class="col-xs-5" id="builds">
        <input type="text" class="form-control" name="build-name" id="build-name">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-3">
        <input type=hidden>
      </div>
    </div>
    <div class="form-row">
      <div class="col-xs-5">
        <button type="submit" id="submit-button" class="btn btn-primary mb-2" data-loading-text="<i class='fa fa-spinner fa-spin '></i>Creating Merge Workspace...">Create Merge Workspace</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
