{% extends "base.html" %}
{% block content %}
<div id='create-workspace' style='padding-left: 7px;'>
<h1>Workspace Details</h1>
<p>{{message}}</p>
<p>Please access your workspace using one of the following methods:</p>
<h2> Option A: Theia Browser IDE</h2>

To access your workspace via Theia IDE , please visit the following url:
<br><br>

<a href="{{workspace_ide}}">{{workspace_ide}}</a>

<h2> Option B: Local NFS Mount</h2>

Your workspace can be mounted to your personal computer using NFS.
<br><br>
To mount the workspace locally , please run the following:
<br><br>
mount -t nfs {{ontap_data_ip}}:/{{ontap_volume_name}} /mnt/ws-mount-point
</div>
{% endblock %}
